<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolore nam! Ullam id, nam voluptas ut 
        sapiente laboriosam, nihil commodi optio deserunt, aut delectus? Consequatur voluptatem incidunt porro 
        voluptas quisquam, laborum, aliquam enim sunt nisi facilis ipsam aut, sequi esse in officiis assumenda 
        quo asperiores iusto veniam natus excepturi? Quae!
    </p>
</article>
